{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

  <h1>Dashboard</h1>
  <a class="waves-effect waves-light btn" href="create_slide">Create a slide</a>
  <a class="waves-effect waves-light btn" href="manage_slides">Manage Slides</a>
     <a class="waves-effect waves-light btn" href="/display_news/technology">Technology News</a>
      <a class="waves-effect waves-light btn" href="/display_news/sports">Sports News</a>
      <a class="waves-effect waves-light btn" href="/display_news/startup">Startup News</a>
{% endblock %}