<!doctype html>
<html>
  <head>
      <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
    </head>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <title>{% block title %}{% endblock %}Whatsup</title>
  </head>
  <body class="grey lighten-4" style="padding: 0 0 100px 0;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
      {% block footer %}
      <footer class="page-footer blue-grey" style="position: fixed; width: 100%; bottom: 0px;">
          <div class="container">
            <div class="row">
              <div class="col l6">
                <h5 class="white-text">A part of project WhatsUp!</h5>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container white-text">
            &copy; Copyright 2018 GoHack by <a class ="white-text" href="https://abhinavrai.com">Abhinav</a> & <a class ="white-text" href="https://iabhishek1041.github.io">Abhishek</a>.
            </div>
          </div>
        </footer>
      {% endblock %}
  </body>
</html>