{% extends "layout.html" %}
{% block title %}Vision{% endblock %}
{% block content %}
<center><h1>Vision Dashboard</h1>
<img src="{{ url_for('static', filename='images/vision5.png')}}" height="100px" width="80px"></center>
<div class="row">
<div class="input-field col s12">
<form method="POST">
	Name: <input type="text" name="tvname" required>
	Password: <input type="Password" name="password" required>
	<input type="submit" name="Login">
</form>
</div>
</div>
<br>
<br>
<a href="/tv/signup" class="waves-effect waves-light btn">Signup</a>
{% endblock %}